In [34]:
x= ["app1","app2","app13","app23","app4","app5"]
print(x[2], type(x))
for i in x:
    print(i)

app13 <class 'list'>
app1
app2
app13
app23
app4
app5

In [35]:
t1 = ("mom","dad","me","you","he","she")
l3 = list(t3)
pint

NameError: name 't3' is not defined

range ()
--------- 1
- it has 3 blocks -- start initialise ===0
                    + stop === 6 
                    + step ===6
- range(6)====> if we give single argument , by default the python compiler assigns default values ---- range(0,6,1)

- input ()---it has ti=o get dynamic value , otherwse it has to return string object 
- int()----it has to convert into integer type 
- float()
- str()
- byte()---into byte type 
--------------------- 
- dynamic  Elements we can put into list obj

In [ ]:
n1 = int(input("enter the value "))
print(n1)

5

In [ ]:
# display range of numbers
for i in range(10,0,-1):
    print(i)
# display 0-10
for i in range(1,11,1):
    print(i)

10
9
8
7
6
5
4
3
2
1
1
2
3
4
5
6
7
8
9
10

In [ ]:
#display given range even numbers 
r1 = int(input("enter range"))
for i in range(0,r1,2):
    print(i)

0
2
4
6
8
10
12
14

In [ ]:
#display given range odd numbers 
r1 = int(input("enter range"))
for i in range(1,r1,2):

list[1]
list[3]
list[5]
list[7]
list[9]
list[11]
list[13]

In [ ]:
#Square values 
l5 = []
for i in range(5,10):
    l5.append(i**2)
print(l5)

[25, 36, 49, 64, 81]

## Mapping data type -- Dictionary (Dict)
- stoes key n values 
- represented by  {}
- it cannot store duplicate values 
-  it can store duplicate values 
- mutable  obj type 
- we except insertion order 
- store primitive values 
- supports construtor 
- supports looping to iterate

# in-built func
-  get() --  it fetches key name and displays value 
 - copy():
 - keys()---> fetches only keys 
 - values()--- fetches only values 
 - items() -- fetches both key and value 
 - pop() -- emove given key value 
 - popitem() -- remove last key fron dict
 - sort()-- sorts dict obj
 
 # Nested dict 
 - { 
 - -   "eid" : 101,
  -  "ename" : "suma",
   - "esal" : 15000
 - }  
  - { 
 - -   "eid" : 102,
  -  "ename" : "suma1",
   - "esal" : 15000
 - }  
  - { 
 - -   "eid" : 103,
  -  "ename" : "suma3",
   - "esal" : 15000
 - }

In [ ]:
emp= {
    "eid" : 101,
    "ename": "arif",
    "esal" : 15000,
    "dept" : [1,2,3,4,5,6]
}
x = emp.get("ename")
print("value :::", x)
# display all keys
for i in emp:
    print("keys:::",i)

value ::: arif
keys::: eid
keys::: ename
keys::: esal
keys::: dept

In [ ]:
# display all keys
for i in emp.keys():
    print("keys::",i)

keys:: eid
keys:: ename
keys:: esal
keys:: dept

In [ ]:
#iterating values
for v1 in emp.values():
    print("values::", v1)
print("++++++++++++++")
#iterating both 
for k,v in emp.items():
    print("key::",k, "values::", v)
print("++++++++++++++")
# how to search given key value 
k2 = input("enter a key ...")
s2 = emp.get(k2)
print(k2, "::::",s2 )

values:: 101
values:: arif
values:: 15000
values:: [1, 2, 3, 4, 5, 6]
++++++++++++++
key:: eid values:: 101
key:: ename values:: arif
key:: esal values:: 15000
key:: dept values:: [1, 2, 3, 4, 5, 6]
++++++++++++++
eid :::: 101

NameError: name 'd2' is not defined

In [ ]:
#removing the key
d = input("enter value:",d2)
d2 =emp.pop(d)
print("removed val:",d2)

NameError: name 'd2' is not defined

In [37]:
stu= {
    "sid":111,
    "sname":"rao",
    "scourses": ["java","python"]
    
}
r1=stu.popitem()
print("after removing last key:",r1)
del stu["sname"]
print("after remove sname from dict:",stu)
myd1=stu.copy()
print("after calling copy func:",myd1)
print(myd1)

after removing last key: ('scourses', ['java', 'python'])
after remove sname from dict: {'sid': 111}
after calling copy func: {'sid': 111}
{'sid': 111}

In [71]:
#sorting the dict
s={2:"ap1",1:"ap2",4:"ap3",3:"ap4"}
# l1=list(s)
# l1.sort()
# print(l1)
print(p)

NameError: name 'sort' is not defined

In [1]:
#nested dict 
d1 = {
    "dept" :{
        "did" : 102,
        "dname" : "cse"
    },
    
    "emp":{
        "eid" : 9,
        "ename" :"arif"
        
    }
}

print(d1["dept"]["dname"])

cse

In [14]:
person = {
    "name" :"pvrao",
    "age" : 28
}

gen = {
    "htype1" : "male",
    "htype2" : "female"
}
quali={
    "q1": "mba",
    "q2": "mb2"
}

mydict ={
    "person": person,
    "gen" : gen,
    "quali": quali
        
}

print(mydict["person"][("name")])
print(mydict["gen"]["htype1"])
print(mydict["quali"]["q1"])

#getting key nn values 

for x,y  in mydict.items():
    print(x,"::::",y)

pvrao
male
mba
person :::: {'name': 'pvrao', 'age': 28}
gen :::: {'htype1': 'male', 'htype2': 'female'}
quali :::: {'q1': 'mba', 'q2': 'mb2'}